<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="js/HttpClient.js"></script>
    <script src="js/State.js"></script>
    <script src="js/dom.js"></script>
    <script src="js/form.js"></script>
    <title>Pira</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/modal.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/nav.css" type="text/css" media="screen">
  </head>
  <body>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Boards</a>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
      </li>
      <li class="nav-title"><a href="index.html">Pira</a></li>
    </ul>
    <div id="content" />
      <button class="createButton" type="submit">Create Board</button>
      <table id="board-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Team</th>
            <th>Lead</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody id="board-table-body"></tbody>
      </table>

      <div id="simpleModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="closeBtn">&times;</span>
            <h2>Create board</h2>
          </div>
          <div class="modal-body">
            <form id="create-board-form" method="get" accept-charset="utf-8">
              <label for="title">Title</label><br />
              <input type="text" name="title" id="title" placeholder="Enter title here..." />
              <label for="team">Team</label><br />
              <select id="select-team">
              </select>
              <label for="lead">Lead</label><br />
              <select id="select-lead">
              </select>
            </form>
          </div>
          <button type="submit" class="modal-footer" id="submit-board">
            <h3>Create board</h3>
          </button>
        </div>
      </div>

      <script>
        document.addEventListener('DOMContentLoaded', showBoards);
      </script>
      <script src="js/modal.js"></script>
  </body>
</html>
