<!DOCTYPE html>
<html>
  <head id="head" />
    <script src="js/HttpClient.js"></script>
    <script src="js/html.js"></script>
    <script src="js/dom.js"></script>
    <script src="js/form.js"></script>
    <script>
      fetchHead();
      fetchNav();
    </script>

    <div id="content" />
      <table id="board-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Team</th>
            <th>Lead</th>
            <th>Created At</th>
            <th class="board-id">Id</th>
          </tr>
        </thead>
        <tbody id="board-table-body"></tbody>
      </table>
      <script>
        document.addEventListener('DOMContentLoaded', showBoards);
      </script>
  </body>
</html>
