<!DOCTYPE html>
<html>
  <head id="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <script src="js/HttpClient.js"></script>
  <script src="js/Modal.js"></script>
  <script src="js/dom.js"></script>
  <script src="js/form.js"></script>
  <script src="js/pages/index.js"></script>
  <script src="js/pages/login.js"></script>
  <script src="js/pages/register.js"></script>
  <script src="js/pages/detail.js"></script>
  <script src="js/template-engine/index.js"></script>

  <ul class="nav">
    <li><a onclick="onNavItemClick('/Pira/views/'); return false;" href="#"><i class="fas fa-home"></i></a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn"><i class="far fa-clipboard"></i> Boards</a>
      <div class="dropdown-content">
        <a id="create-board" class="createButton">Create Board</a>
      </div>
    </li>
    <li class="nav-title"><a onclick="onNavItemClick('/Pira/views/'); return false;" href="#"><i class="far fa-clipboard"></i> Pira</a></li>
    <div class="right-nav">
      <li class="register"><a onclick="onNavItemClick('/Pira/views/#/register'); return false;" href="#"><i class="fas fa-user-plus"></i></a></li>
      <li class="login"><a onclick="onNavItemClick('/Pira/views/#/login'); return false; "href="#"><i class="fas fa-sign-in-alt"></i></a></li>
      <li class="logout"><a onclick="logoutClick(); onNavItemClick('/Pira/views/#/login'); return false;"href="#"><i class="fas fa-sign-out-alt"></i></a></li>
    </div>
  </ul>

  <div id="board-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span id="board-close-btn" class="closeBtn">&times;</span>
        <h2>Create board</h2>
      </div>
      <div class="modal-body">
        <form id="create-board-form" accept-charset="utf-8">
          <label for="title">Title</label><br />
          <input type="text" name="title" id="title" placeholder="Enter title here..." />
          <label for="team">Team</label><br />
          <select id="select-team">
          </select>
          <label for="lead">Lead</label><br />
          <select id="select-lead">
          </select>
        </form>
      </div>
      <button type="submit" class="modal-footer" id="submit-board">
        <h3>Create board</h3>
      </button>
    </div>
  </div>

  <body>
    <script src="js/scripts.js"></script>

    <script>nav();</script>

    <div id="content" />

    <script src="js/router.js"></script>
  </body>
</html>
