.board-detail-title {
  text-align: center;
}

.board-detail {
  color: blue;
  cursor: pointer;
}

[class*="collapsible-"] {
  cursor: pointer;
}

.collapsible-plus {
  float: right;
}

.card-dropdown-content {
  padding: 0 18px;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  color: #fff;
  max-height: 0;
}

.board-actions {
  text-align: center;
}

.board-actions button {
  cursor: pointer;
  display: inline-block;
  background-color: #026aa7;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
}
