ul.nav {
  list-style-type: none;
  margin: 0;
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%;
  background-color: #026aa7;
}

ul.nav li:not(.nav-title) {
  float: left;
}

ul.nav li.nav-title {
  left: 45%;
  position: absolute;
}

ul.nav li.login {
  right: 0%;
  position: absolute;
}

ul.nav li.register {
  right: 5%;
  position: absolute;
}

ul.nav li a,
.dropbtn {
  display: inline-block;
  color: #fff;
  padding: 14px 16px;
  font-size: 16px;
  text-decoration: none;
}

ul.nav li a:hover,
.dropdown:hover .dropbtn {
  background-color: #014a75;
}

ul.nav li.dropdown {
  display: inline-block;
}

ul.nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

ul.nav .dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

ul.nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}

ul.nav li.dropdown:hover .dropdown-content {
  display: block;
}
