body {
  background-color: transparent;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  margin: 0;
}

#board-table {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#board-table td,
#board-table th {
  border: 1px solid #ddd;
  padding: 1em;
}

.hidden-id {
  display: none;
}

#board-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #026aa7;
  color: #fff;
}

input[type="text"],
select,
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#content {
  padding-top: 6em;
  margin: 1em;
}
